body {
    background-image: url("../images/fondo_background.png");
    background-repeat: repeat;
    background-size: 100%;
    background-color: #cccccc;
   }

.fondo-class {
    background-image: url("../images/fondo_background.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f0f0; /* Fallback color */
  }
