<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Combined Ethereum App</title>

    <script src="https://cdn.jsdelivr.net/npm/ethers@5.6/dist/ethers.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../css/patio.css">

    <script>
        const loginButton = document.getElementById('loginButton');

        const statusDiv = document.getElementById('status');
        
        async function signInWithMetaMask() {
            console.log("sign in")
            if (typeof window.ethereum !== 'undefined') {
                try {
                    const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                    const account = accounts[0];
                    const provider = new ethers.providers.Web3Provider(window.ethereum);
                    const signer = provider.getSigner();
                    statusDiv.innerHTML = `Connected with <b>${account}</b>`;
                } catch (error) {
                    statusDiv.innerHTML = `Error: ${error.message}`;
                }
            } else {
                statusDiv.innerHTML = 'MetaMask is not installed. Please install it to use this app.';
            }
        }

        loginButton.addEventListener('click', signInWithMetaMask);
        
        function click_BUSCADOR() {
            window.location.href = './landing-page2.html';
        }

        function click_END_TRANSMISSION() {
            window.location.href = './landing-page2.html';
        }

        function click_ABOUT() {
            window.location.href = './landing-page2.html';
        }

        function click_CAST() {
            window.location.href = './landing-page2.html';
        }


        function click_DISCORD() {
            window.location.href = 'http://discord.io/combinedethapp';
        }

        function tuneIn() {
            alert('Tune In button clicked.');
        }

        function openYourMind() {
            alert('Open Your Mind button clicked.');
        }
        
    </script>    
</head>
<body class="fondo-class">
    <div class="metamask" >
        <!-- <img id="loginButton" src="../images/WALLET.png"> -->
                
        <button class="image-button" id="loginButton" >
            <img src="../images/WALLET.png" alt="Button Image">
        </button>
        <div id="status"></div>
        <div style="display: flex; justify-content: flex-end">
            <img src="../images/CAST.png" alt="Clickable Image" onclick="click_CAST()">
        </div>        
    </div>
    <div class="address-bar">
        <span class="magnifying-glass">&#128269;</span> <!-- Unicode for magnifying glass -->
        <input type="text" placeholder="Enter Ethereum Address">
    </div>

    <button onclick="tuneIn()">Tune In</button>
    <img src="../images/Syntonize.png" alt="Clickable Image" onclick="tuneIn()">

    <img src="../images/for_open_mind.png" alt="Clickable Image" onclick="openYourMind()">

    <div class="video-player">
        <h1>Sample Video</h1>
        <video width="640" height="360" controls>
            <source src="../videos/tactical_thermonuclear_gnome.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p style="visibility: hidden;">This is a simple HTML5 video player example.</p>
    </div>


    <img src="../images/BUSCADOR.png" alt="Clickable Image" onclick="click_BUSCADOR()">
    <img src="../images/END TRANSMISSION.png" alt="Clickable Image" onclick="click_END_TRANSMISSION()">


    <div>
    
        <img src="../images/ABOUT.png" alt="Clickable Image" onclick="click_ABOUT()">
    
    
        <div style="display: flex; justify-content: flex-end">
            <img src="../images/DISCORD.png" alt="Clickable Image" onclick="click_DISCORD()">
        </div>        
    </div>

</body>
</html>
