<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAT.IO</title>

    <script src="https://cdn.jsdelivr.net/npm/ethers@5.6/dist/ethers.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../css/patio.css">

    <script>
        const loginButton = document.getElementById('loginButton');

        const statusDiv = document.getElementById('status');
        
        async function signInWithMetaMask() {
            console.log("sign in")
            if (typeof window.ethereum !== 'undefined') {
                try {
                    const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                    const account = accounts[0];
                    const provider = new ethers.providers.Web3Provider(window.ethereum);
                    const signer = provider.getSigner();
                    statusDiv.innerHTML = `Connected with <b>${account}</b>`;
                } catch (error) {
                    statusDiv.innerHTML = `Error: ${error.message}`;
                }
            } else {
                statusDiv.innerHTML = 'MetaMask is not installed. Please install it to use this app.';
            }
        }

        // loginButton.addEventListener('click', signInWithMetaMask);
        function click_QUESTION() {
            alert("Question? - email to TqLZU@example.com");
        }

        function click_END_TRANSMISSION() {
            alert("End Transmission event");
        }

        function click_DONATE() {
            alert("donate?");
        }

        function click_CAST() {
            window.location.href = './cast.html';
        }


        function click_BACK() {
            window.history.back();
        }

        function tuneIn() {
            alert('Tune In button clicked.');
        }

        function openYourMind() {
            window.location.href = './playvideo.html';
        }

        function click_ABOUT() {
            window.history.back();
        }

        
    </script>    
</head>
<body class="fondo-about-class">
    <div id='wrapper'>
        <div class="expand-box">
            <p class="centered">
                <img src="../images/LOGO-removebg.png" >
            </p>
        </div>

        <div style="height: 75px;">

        </div>

        <div class="centered" style="text-align: center;">
            <table>
                <tr>
                    <td border="0">
                        <a href="https://x.com/ariutokintumi">
                            <img src="../images/Rbnt47mU_400x400 1.png">
                        </a>                        
                    </td>
                    <td border="0">
                        <a href="https://x.com/victorxva">
                            <img src="../images/RWouS_aA_400x400 1.png">
                        </a>                        
                    </td>
                    <td border="0">
                        <a href="https://x.com/walalaaaaa">
                            <img src="../images/DL_PKlT3_400x400 1.png">
                        </a>                        
                    </td>
                    <td border="0">
                        <a href="https://x.com/realizer25">
                            <img src="../images/wIrfgM9b_400x400 1.png">
                        </a>                        
                    </td>
                </tr>
                <tr>
                    <td border="0" style="color:white;text-align: center;padding-left: 30px;padding-right: 30px;">
                        <a href="https://x.com/ariutokintumi">
                            @ariutokintumi
                        </a>                        
                    </td>
                    <td border="0" style="color:white;text-align: center;padding-left: 30px;padding-right: 30px;">
                        <a href="https://x.com/victorxva">
                            @victorxva
                        </a>                        
                    </td>
                    <td border="0" style="color:white;text-align: center;padding-left: 30px;padding-right: 30px;">
                        <a href="https://x.com/walalaaaaa">
                            @walalaaaaa
                        </a>                        
                    </td>
                    <td border="0" style="color:white;text-align: center;padding-left: 30px;padding-right: 30px;">
                        <a href="https://x.com/realizer25">
                            @realizer25
                        </a>                        
                    </td>
                </tr>
            </table>
        </div>
        <div style="height: 75px;">

        </div>
        <div class="centered" style="color:white;text-align: center;font-size: 30px;">
            Against the system, are you part of it?
        </div>

        <div style="height:100px"> 
        </div>

        <!-- <img src="../images/BUSCADOR.png" alt="Clickable Image" onclick="click_BUSCADOR()">
        <img src="../images/END TRANSMISSION.png" alt="Clickable Image" onclick="click_END_TRANSMISSION()"> -->
    </div>

    <footer>
        <p class="alignleft">
            <img src="../images/ABOUT.png" id="hover" alt="Hover mouse over about button" onclick="click_ABOUT()">
        </p>
        <p class="alignright">
            <img src="../images/X TWITTER.png" alt="Clickable Image" onclick="click_ABOUT()">
        </p>
</footer>

</body>
</html>
